#menu-top{
  .v-btn{
    color: #635d5c;
    opacity: 0.5;
    border-top: 3px solid transparent;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    background-color: #fff;

    &:focus:before,
    &:hover:before{
      background-color:transparent;
    }
    &:hover{
      opacity: 0.75;
      border-top: 3px solid #fbcb30;
    }
    &__content{
      display: flex;
      flex-direction: column;
    }
    &--active{
      opacity: 1;
      border-top: 3px solid #fbcb30;
      color:#ef9d24;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4)!important;
      &:hover{
        opacity: 1;
      }

      &:before{
        background-color:transparent;
      }
    }
  }
  .title-menu{
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
  }
  .icon-menu{
    font-size: 20px;
  }

  .v-badge__badge{
    border-radius: 0;
    right: -50px;
  }
}

.v-btn{
  text-transform: none;
  padding: 10px 20px;
  margin: 0;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: none!important;

  &:not(.btn-menu){
    border: 1px solid #dcdfe6;
  }
}
.v-icon{
  font-size: 21px;
}
.theme--light.v-card,
.theme--light.v-btn{
  color: #635d5c;
}