/* MAIN */
body {
  .application {
    font-family: "Open Sans", sans-serif;}
  .vue-notification {font-size: 16px;}
}

#app {
  .noselect,
  .noselect *,
  .noselect:focus,
  .noselect *:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .notifications .notification {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  /* CARDS */
  .v-card__title {
    font-size: 1.3em;
    line-height: 1;
    font-weight: 600;
    word-spacing: 4px;
  }

  .v-card__title .v-icon {
    color: inherit;
    margin-right: 10px;
    cursor: pointer;
  }
  .v-card__actions {
    padding-top: 0 !important;
  }

  .v-dialog .v-card__actions {
    padding-top: 8px !important;
  }
  .transparent-white {
    background: rgba(255, 255, 255, 0.7);
  }
}

#loader-gif {
  position: fixed;
  top: 100%;
  left: calc(50% - 100px);
  width: 200px;
  height: 35px;
  object-fit: cover;
  border-radius: 0 0 35px 35px;
  opacity: 0.82;
  webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0px 10px 10px 0 rgba(0, 0, 0, .12);
}

.v-card__text.stable-height {
  height: calc(100% - 106px);
}

.v-toolbar__title:not(:first-child) {
  margin-left: 0;
}

.theme--light.application{
  background-color: #fff;
}

/* HEADER */
#header {
  background-color: #fff;

  .v-toolbar__content {
    padding: 0 !important;
    border-top: 5px solid #fbcb30;
    position: relative;
    align-items: flex-end;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      width: 35%;
      height: 5px;
      background-color: #2b4244;
    }
    &:after{
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 150px);
      bottom: 0;
      left: 100px;
      background-color: #e5e5e5;
    }
  }

  .menu-link{
    text-decoration: none;
    color: #3d4c4d;
    font-weight: 600;
    margin:0 5px;
    padding: 10px 5px;
    position: relative;
    cursor: pointer;

    .title-menu {
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 3px;
        width: 0;
        background-color: #fbcb30;
        transition: 0.25s;
      }
    }
    &:hover{
      .title-menu {
        &:before {
          left: 0;
          width: 100%;
          transition: 0.25s;
        }
      }
    }
    .v-icon{
      color: #3d4c4d;
      font-size: 21px;
    }
    .v-badge {
      right: -4px;
      top: 3px;
      position: absolute;
      &__badge {
        color: #3d4c4d;
        font-size: 10px;
        min-width: 15px;
        width: auto;
        height: 15px;
        padding: 0 3px;
        right: 0;
        top: 0;
      }
    }
    &.cart{
      position: relative;
    }
    &.router-link-active{
      .title-menu {
        &:before {
          left: 0;
          width: 100%;
          transition: 0.25s;
        }
      }
    }
  }
}

#nav-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-wraper {
  cursor: pointer;
  width: 80px;
  display: flex;
  align-items: center;
}

.v-toolbar__items .v-btn.v-btn--active,
.v-navigation-drawer > .v-list .v-list__tile--active {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-avatar {
  //width: 100%;
  //height: 100%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}

#menu-top{
  align-items: center;
}

/* FOOTER */
#footer {
  background-color: #fff!important;
  overflow: hidden;
  padding:0 36px;
}

.size {
  &-16 {font-size: 16px;}
  &-18 {font-size: 18px;}
  &-30 {font-size: 30px!important;}
}

.text-center{
  text-align: center;
}
.vue-tooltip{
  background-color: #635d5c;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.5px;
}
.vue-tooltip[x-placement^="bottom"] .tooltip-arrow{
  border-bottom-color: #635d5c;
}

#address-suggestion {
  margin-top:  -10px;
  font-size:   13px;
  line-height: 16px;
}
#address-suggestion table td:first-child {
  padding-right: 15px;
  color:         gray;
}
#address-suggestion table td:last-child {
  color: #333;
}
.taxes-comment {
  border-top: 1px solid #ddd;
  padding:    10px 0;
}
.taxes-time {
  font-size: 12px;
  color:     #888;
}
.taxes-note {
  font-size:   16px;
  color:       darkred;
  font-style:  italic;
  font-weight: bold;
}
.taxes-documents img {
  max-height: 150px;
  max-width:  100%;
}

.adress-table{
  display: flex;
  flex-direction: column;
  width: 300px;

  .at-wrap{
    display: flex;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;

    &:nth-child(odd){
      background-color: rgba(0,0,0,0.03);
    }

    &:nth-child(even){
      background-color: rgba(0,0,0,0.07);
    }

    .atw {
      &-title {
        width: 150px;
        padding: 2px 4px;
        font-weight: 600;
      }
      &-data{
        padding: 2px 4px;
      }
    }
  }
}

.btn-width-100{
  width: 100%;
}
.rotate-90{
  transform: rotate(90deg);
}
.rotate-270{
  transform: rotate(270deg);
}

.card-box-img{
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}


/* TRANSITIONS */
.fade-enter-active, .fade-leave-active {transition: opacity .2s;}
.fade-enter, .fade-leave-to {opacity: 0;}
.slide-leave-active, .slide-enter-active {transition: .5s;}
.slide-enter {transform: translate(100%, 0);}
.slide-leave-to {transform: translate(-100%, 0);}


/* AUTOCOMPLETE */
.el-autocomplete {
  width: 100% !important;

  input {
    border: none !important;
    cursor: inherit;
  }
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cacaca;
  padding: 10px 0;
  font-weight: 600;
  color: #464646;
}
.footer-support{
  min-width: inherit;
  padding: 0!important;
  height: auto;
  background: none!important;
  border: none!important;
  color: rgba(0,0,0,0.4)!important;
  .support-icon{
    font-size: 30px;
  }
  &:before{
    background-color: transparent!important;
  }
  &:hover{
    color: #ffcc02!important;
    &:before{
      background-color: transparent!important;
    }
  }
}


.title-page{
  font-size: 36px;
  color: #3d4c4d;
  font-weight: 300;
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  min-height: 50px;
  line-height: 1.1;

  .title-background{
    width: calc(230px - 43px);
    height: 50px;
    background-color: #fbcb30;
    position: relative;
    margin-right: 50px;

    &:after{
      content: '';
      position: absolute;
      right: -43px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 43px 0 0;
      border-color: #fbcb30 transparent transparent transparent;
    }
  }
}

#app {
  .iek-btn {
    margin: 10px 0;
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    background-color: #ffcc02;
    box-shadow: 2px 2px 2px #bfbebb !important;
    &.auto-width{
      width: auto!important;
    }
  }
  .v-input--is-focused{
    &.primary--text{
      color : #ffcc02!important;
      caret-color: #ffcc02!important;

    }
    .v-label--active{
      &.primary--text{
        color : #333!important;
        caret-color: #333!important;

      }
    }
    .v-input__icon--append .v-icon--link{
      &.primary--text {
        color: #333!important;
      }
    }
  }
  .back-btn{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-top: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .v-text-field input,
  .v-text-field textarea{
    font-weight: 600;
  }
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button{
  display: flex;
  justify-content: space-between;
  .iek-btn{
    margin: 8px!important;
    width: calc(50% - 16px)!important;
  }
}

.top-page{
  display: flex;
  flex-direction: column;

  &--logo{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    .logo-image{
      height: 60px;
      object-fit: contain;
    }

  }
  &--title{
    white-space: nowrap;
    font-size: 36px;
    font-weight: 300;
    word-spacing: 5px;
    color: #324b4c;
    display: flex;
    line-height: 1;
    align-items: flex-end;

    .logo-rect{
      height: 50px;
      margin-right: 15px;
    }
  }
}
.block-chip{
  text-decoration: none;
  .v-chip{
    border: 1px solid transparent;
    &.border-color-new{
      border-color: #0d6aad;
    }
  }
  .v-chip__content{
    white-space: normal;
    height: auto;
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
  }
}
.v-card__title{
  .v-chip__content{
    font-weight: 300;
    text-shadow: none;
  }
}
.status-point{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  transform: translateX(5px);
  flex-shrink: 0;
  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
  }
  .v-chip__content {
    height: auto!important;
    box-shadow: 0 0 1px #fff;
    font-size: 11px;
  }
  &.bg-color-new{
    &:before {
      background-color: #0d6aad;
    }
  }
}
.custom-title{
  font-size: 23px;
  font-weight: 600;
  word-spacing: 5px;
  padding-bottom: 40px;
}
#app .rsb--form,
#app .login--form,
#app .profile--form {
  .v-input__slot {
    background-color: #f1f2f2;
    margin-bottom: 2px;

    &:before {
      border-color: #ccc;
    }
  }
  .v-text-field input{
    padding: 12px 8px;
    min-height: 45px;
  }

  .v-text-field .v-input__append-inner{
    align-self: center;
    margin-top: 0;
    margin-right: 4px;
  }

  .v-subheader{
    padding-bottom: 8px;
    padding-left: 0;
    flex-wrap: wrap;
    &.nowrap{
      flex-wrap: nowrap;
    }
  }

  .v-text-field{
    padding-top: 0;
  }

  .attach-file{
    .v-text-field {
      label{
        //color: #fff;
        font-size: 14px;
        max-width: 95%;
      }
      input {
        padding: 0;
        min-height: 32px;
        //color: #fff !important;
      }
    }
    .v-input__slot {
      background-color: transparent;
      margin-bottom: 2px;
      &:before {
        //border-color: #fff;
      }
    }
  }

  .v-input--checkbox{
    .v-input__slot {
      background-color: transparent;
    }
  }
}

#app .profile--form {
  .attach-file {
    .v-text-field label {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.display-flex{
  display: flex;
}

.vue-tooltip{
  font-family: "Open Sans", sans-serif;
  background-color:  rgba(0,0,0,0.7);
}

#app .iek-btn.download_eps {
  font-size: 12px;
  width: 32%;
}

/* MEDIA */
@media only screen and (min-width: 1264px) {
  #app {
    .layout.max,
    .v-toolbar__content {
      max-width: 1264px;
      width: 100%;
      margin: 0 auto;
      flex: none;
    }
  }
}
@media only screen and (max-width: 1300px) {
  #header{
    padding: 0 36px!important;
  }
  .title-page {
    padding: 0 12px 20px;
  }
}
@media only screen and (max-width: 959px) {
  #app {
    .container {
      padding: 10px;
    }

    .menu-btn {
      margin-top: 0;
      margin-bottom: 0;
      transform: translateY(2px);
    }
  }
  #header {
    padding: 0 10px !important;
    .v-toolbar__content:after {
      left: 150px;
    }

    .menu-link {
      &.cart{
        margin-right: 10px;
      }
      .v-badge {
        top: -8px;
      }
    }
  }
  .md-pr-0{
    padding-right: 0!important;
  }
}

@media (max-width: 767px) {
  .top-page--title{
    flex-wrap: wrap;
  }
  .registration {
    .button-wrap-text {
      flex-wrap: wrap;
    }
    label.v-label{
      width: calc(100% - 35px);
    }
  }
  #app .iek-btn.download_eps {
    font-size: 12px;
    width: 100%;
  }
  .download_cont {
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  #app .iek-btn.download_eps {
    font-size: 12px;
    width: 48%;
  }
  .download_cont {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  #app .notifications {
    width: 100% !important;
    left: 0 !important;
  }
  #app #footer {
    position: static;
    height: auto;
  }
  #header {
    background-color: white;
  }

  #loader-gif {
    opacity: 1;
  }

  .hidden-xs{
    display: none;
  }
  .custom-title{
    font-size: 18px;
    padding-bottom: 20px;
  }
  .profile--form .block-chip{
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .attach-file{
    flex-direction: column;

    .icon-block{
      align-self: center;
      .material-icons{
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 400px) {
  .profile--form .block-chip {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 600px) {
  #app {
    .row.col-2 {
      > .flex{
        &:nth-child(odd) {padding-right: 15px;}
        &:nth-child(even) {padding-left: 15px;}
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 640px) {
  #menu-top {
    display: none!important;
  }
}
